<form [formGroup]="mcqBodyForm" name="mcqBodyForm" (ngSubmit)="onSubmitMCQBodyForm()" accept-charset="utf-8">
  <div class="row">
    <div class="col-sm-4 mat-full-width">
      <mat-form-field>
        <mat-select placeholder="Subject" formControlName="subject" name="subject" [(ngModel)]="selectedSubject" (change)="getCourses(selectedSubject)">
          <mat-option *ngFor='let subject of subjectList' [value]="subject.value">
            {{subject.label}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="!mcqBodyForm.controls['subject'].valid && mcqBodyForm.controls['subject'].touched">
          Select Subject!
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-sm-4 mat-full-width">
      <mat-form-field>
        <mat-select placeholder="Question Level" formControlName="level" name="level">
          <mat-option *ngFor='let level of levelList' [value]="level.value">
            {{level.label}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="!mcqBodyForm.controls['level'].valid && mcqBodyForm.controls['level'].touched">
          Select Question Level!
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-sm-4 mat-full-width">
      <mat-form-field>
        <mat-select placeholder="Chapter" formControlName="chapter" name="chapter">
          <mat-option *ngFor='let chapter of chapterList' [value]="chapter.value">
            {{chapter.label}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="!mcqBodyForm.controls['level'].valid && mcqBodyForm.controls['level'].touched">
          Select Chapter!
        </mat-error>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 mat-full-width">
      <mat-form-field>
        <input matInput type="number" placeholder="Full Marks" formControlName="fullMarks" name="fullMarks">
        <mat-error *ngIf="!mcqBodyForm.controls['fullMarks'].valid && mcqBodyForm.controls['fullMarks'].touched">
          Fill Full Marks !
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-sm-6 mat-full-width">
      <mat-form-field>
        <input matInput type="number" placeholder="Negative Marks" formControlName="negativeMarks" name="negativeMarks">
        <mat-error *ngIf="!mcqBodyForm.controls['negativeMarks'].valid && mcqBodyForm.controls['negativeMarks'].touched">
          Fill Negative Marks !
        </mat-error>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2">
      Course
    </div>
    <div class="col-sm-4 mat-full-width">
      <div style="height:55px;overflow-y: scroll">
        <mat-list role="list" dense>
          <mat-list-item role="listitem" *ngFor="let course of courseList">
            {{course.label}}
            <button mat-icon-button (click)='addCourses(course)'>
              <i class="fa fa-arrow-right" style="color: rgb(9, 112, 23)"></i>
            </button>
          </mat-list-item>
        </mat-list>
      </div>
    </div>
    <div class="col-sm-6 mat-full-width">
      <mat-form-field>
        <mat-chip-list>
          <mat-chip *ngFor="let cour of selectedCourses">
            {{cour.label}}
            <strong>
              <i class="fa fa-times" style="color: red" (click)='removeCourses(cour.value)'></i>
            </strong>
          </mat-chip>
        </mat-chip-list>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-5 mat-full-width">
      <mat-form-field>
        <textarea matInput placeholder="Question Body in English" matTextareaAutosize matAutosizeMinRows="2" formControlName="qutnBodyEng"
          name="qutnBodyEng" matAutosizeMaxRows="5" [(ngModel)]="questionBodyEng"></textarea>
        <mat-error *ngIf="!mcqBodyForm.controls['qutnBodyEng'].valid && mcqBodyForm.controls['qutnBodyEng'].touched">
          Fill Question Body in English !
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-sm-5 mat-full-width">
      <mat-form-field>
        <textarea matInput placeholder="Question Body in Hindi" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5"
          formControlName="qutnBodyHnd" name="qutnBodyHnd" [(ngModel)]="questionBodyHnd"></textarea>
      </mat-form-field>
    </div>
    <div class="col-sm-2 mat-full-width">
      <div class="file-upload">
        <label for="upload" class="file-upload__label">Qn. image
          <i class="fa  fa-file-picture-o"></i>
        </label>
        <input id="upload" class="file-upload__input" type="file" formControlName="qutnBodyImg" name="qutnBodyImg" (change)="handleFileSelect($event,'QuestionImg')">
      </div>
    </div>
  </div>

  <form [formGroup]="mcqOptionForm" name="mcqOptionForm" (ngSubmit)="onSubmitMCQOptionForm()">
    <div class="row">
      <div class="col-sm-4 mat-full-width">
        <mat-form-field>
          <textarea matInput placeholder=" Option Body in English" matTextareaAutosize matAutosizeMinRows="1" matAutosizeMaxRows="3"
            formControlName="optionBodyEng" name="optionBodyEng"></textarea>
          <mat-error *ngIf="!mcqOptionForm.controls['optionBodyEng'].valid && mcqOptionForm.controls['optionBodyEng'].touched">
            Fill Option Body in English !
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-4 mat-full-width">
        <mat-form-field>
          <textarea matInput placeholder="Option Body in Hindi" matTextareaAutosize matAutosizeMinRows="1" matAutosizeMaxRows="3" formControlName="optionBodyHnd"
            name="optionBodyHnd"></textarea>
        </mat-form-field>
      </div>
      <div class="col-sm-2 mat-full-width">
        <div class="file-upload">
          <label for="upload" class="file-upload__label">Option image
            <i class="fa fa-file-picture-o"></i>
          </label>
          <input id="upload" class="file-upload__input" type="file" formControlName="optionBodyImg" name="optionBodyImg" (change)="handleFileSelect($event,'OptionImg')">
        </div>
      </div>
      <div class="col-sm-2" style="text-align: center;">
        <button mat-mini-fab type="submit">
          <strong>
            <i class="fa fa-plus"></i>
          </strong>
        </button>
      </div>

    </div>
  </form>
  <mat-divider>Question Preview</mat-divider>
  <div class="row" style="margin: 2px; text-align: left; border:2px solid #928d92;border-style: dotted;border-radius: 4px;font-size: 12px">
    <div class="col-sm-12">
      <p [MathJax]="mcqBodyForm.value.qutnBodyEng">{{mcqBodyForm.value.qutnBodyEng}}</p>
      <p [MathJax]="mcqBodyForm.value.qutnBodyHnd">{{mcqBodyForm.value.qutnBodyHnd}}</p>
      <img [src]="'data:image/png;base64,'+base64textQuestionBodyImg" class="qstn-body-img" alt="">
    </div>
    <br>
    <mat-radio-group class="example-radio-group">
      <div class="col-sm-12" *ngFor='let questionOption of questionOptionList'>
        <mat-divider></mat-divider>
        <mat-radio-button class="example-radio-button" [value]="questionOption.optionIndex" (click)="selectCorrectOption(questionOption.optionIndex)">
          <span class="option-index-style">
            {{questionOption.optionIndex}} : </span>
          <p [MathJax]="questionOption.optionTextBodyEng"></p>
          <p [MathJax]="questionOption.optionTextBodyHnd"></p>
        </mat-radio-button>
        <img [src]="'data:image/png;base64,'+questionOption.optionTextImage" class="option-body-img" alt="">
        <button mat-mini-fab color="warn" (click)="deleteOption(questionOption.optionIndex)">
          <strong>
            <i class="fa fa-times"></i>
          </strong>
        </button>
      </div>
    </mat-radio-group>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <button mat-raised-button color="primary" type="submit">Save</button>
    </div>
  </div>
</form>