<div class="container-fluid text-center">
  <div class="row">
    <div class="col-md-12" style="  background-color:rgb(56, 56, 58); border: 1px solid black;">
      <p style="text-align: center; color:antiquewhite; padding-top: 10px; font-weight: bold; font-size:20px;">IBPS CLERK 2017 Prelim Mock Test 1</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3" style="  background-color:rgb(56, 56, 58); border: 1px solid black;">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Personal data
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <mat-list-item>
            <a matLine href="#">test</a>
            <button mat-icon-button>
              <mat-icon>info</mat-icon>
            </button>
          </mat-list-item>
        </mat-nav-list>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Personal data
          </mat-panel-title>
        </mat-expansion-panel-header>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Personal data
          </mat-panel-title>
        </mat-expansion-panel-header>
      </mat-expansion-panel>
    </div>
    <div class="col-md-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>