<div class="container-fluid text-center">
  <div class="row">
    <div *ngIf='examNature=="SUBGRP"; then WithSubjectExam else WithOutSubjectExam'>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
    
      <form (ngSubmit)="onSubmit()">
<!--
        <div class="form-group" aria-autocomplete="off">
          <select id="examLang" name="examLang" [(ngModel)]="selectedExamLang" required>
            <option value="">Select Language</option>
            <option *ngFor='let examLang of examLangs' [value]="examLang.value">
              {{examLang.label}}
            </option>
          </select>
        </div>
      -->
        <div class="checkbox">
          <label>
            <input type="checkbox" name="agreeBox" id="agreeBox" [(ngModel)]="aggreeFlag"
             (ngModelChange)="aggreeFlag = $event">I Read the instruction carefully</label>
        </div>
        <button type="submit" class="btn btn-primary">Next</button>
      </form>
    </div>
    <div class="col-sm-4"></div>
  </div>
</div>
<ng-template #WithSubjectExam>
  <div class="col-sm-9" style="height: 500px; overflow: scroll;text-align: left;">
    <div class="instructions">
      <h1 style="text-align: center;">System Instruction</h1>
      <div class="firstPage">
        <div class="text-right">
          <p>View In :
            <select class="languageIns" [(ngModel)]="instructionLang" (ngModelChange)="instructionLang = $event">
              <option value="ENG">English</option>
              <option value="HND">Hindi</option>
            </select>
          </p>
        </div>
        <div *ngIf='instructionLang=="ENG"; then WithSubjectExamENGInst else WithSubjectExamHNDInst'>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3 row-boarder"></div>
</ng-template>
<ng-template #WithSubjectExamENGInst>
  <div style="font-size:.9em">
    <p class="text-center">
      <strong>Please read the following instructions carefully</strong>
    </p>
    <p>
      <strong>
        <u>General Instructions:</u>
      </strong>
    </p>
    <ol>
      <li>The clock has been set at the server and the countdown timer at the top right corner of your screen will display the
        time remaining for you to complete the exam. When the clock runs out the exam ends by default - you are not required
        to end or submit your exam.</li>
      <li>The question palette at the right of screen shows one of the following statuses of each of the questions numbered:
        <table>
          <tbody>
            <tr>
              <td valign="top">
                <span id="tooltip_not_visited" style="PADDING-TOP: 5px">1</span>
              </td>
              <td>You have not visited the question yet.</td>
            </tr>
          </tbody>
        </table>
        <table>
          <tbody>
            <tr>
              <td valign="top">
                <span id="tooltip_not_answered" style="PADDING-TOP: 5px">3</span>
              </td>
              <td>You have not answered the question.</td>
            </tr>
          </tbody>
        </table>
        <table>
          <tbody>
            <tr>
              <td valign="top">
                <span id="tooltip_answered" style="PADDING-TOP: 5px">5</span>
              </td>
              <td>You have answered the question.</td>
            </tr>
          </tbody>
        </table>
        <table>
          <tbody>
            <tr>
              <td valign="top">
                <span id="tooltip_review" style="PADDING-TOP: 5px">7</span>
              </td>
              <td>You have NOT answered the question but have marked the question for review.</td>
            </tr>
          </tbody>
        </table>
        <table>
          <tbody>
            <tr>
              <td valign="top">
                <span id="tooltip_reviewanswered" style="PADDING-TOP: 12px">&nbsp;&nbsp;&nbsp; 9</span>
              </td>
              <td>You have answered the question but marked it for review.</td>
            </tr>
          </tbody>
        </table>
      </li>
      <li style="LIST-STYLE-TYPE: none">3:The Marked for Review status simply acts as a reminder that you have set to look at the question again.
        <font color="red">
          <i>If an answer is selected for a question that is Marked for Review, the answer will be considered in the final evaluation.
          </i>
        </font>
      </li>
    </ol>
    <p>
      <strong>
        <u>Navigating to a question :</u>
      </strong>
    </p>
    <ol start="4">
      <li>To select a question to answer, you can do one of the following:
        <ol type="a">
          <li>Click on the question number on the question palette at the right of your screen to go to that numbered question
            directly. Note that using this option does NOT save your answer to the current question.</li>
          <li>Click on Save and Next to save answer to current question and to go to the next question in sequence.</li>
          <li>Click on Mark for Review and Next to save answer to current question, mark it for review, and to go to the next
            question in sequence.</li>
        </ol>
      </li>
      <li>You can view the entire paper by clicking on the
        <b> Question Paper</b> button.</li>
    </ol>
    <p>
      <strong>
        <u>Answering questions :</u>
      </strong>
    </p>
    <ol start="6">
      <li>For multiple choice type question :
        <ol type="a">
          <li>To select your answer, click on one of the option buttons</li>
          <li>To change your answer, click the another desired option button</li>
          <li>To save your answer, you MUST click on
            <b> Save &amp; Next</b>
          </li>
          <li>To deselect a chosen answer, click on the chosen option again or click on the
            <b> Clear Response</b> button.</li>
          <li>To mark a question for review click on
            <b> Mark for Review &amp; Next</b> .
            <font color="red">
              <i>If an answer is selected for a question that is Marked for Review, the answer will be considered in the final
                evaluation.
              </i>
            </font>
          </li>
        </ol>
      </li>
      <li>To change an answer to a question, first select the question and then click on the new answer option followed by a
        click on the
        <b> Save &amp; Next</b> button.</li>
      <li>Questions that are saved or marked for review after answering will ONLY be considered for evaluation.</li>
    </ol>
    <p>
      <strong>
        <u>Navigating through sections :</u>
      </strong>
    </p>
    <ol start="9">
      <li>Sections in this question paper are displayed on the top bar of the screen. Questions in a section can be viewed by
        clicking on the section name. The section you are currently viewing is highlighted.</li>
      <li>After clicking the
        <b> Save &amp; Next</b> button on the last question for a section, you will automatically be taken to the first question
        of the next section.</li>
      <li>You can move the mouse cursor over the section names to view the status of the questions for that section.</li>
      <li>You can shuffle between sections and questions anytime during the examination as per your convenience.</li>
    </ol>
  </div>
</ng-template>

<ng-template #WithSubjectExamHNDInst>
  <div style="font-size:1em;" class="sysInsTest1Hindi">
    <p class="text-center">
      <strong>कृपया निम्नलिखित निर्देशों को ध्यान से पढ़ें</strong>
    </p>
    <p>
      <strong>
        <u>सामान्य अनुदेश</u>
      </strong>
    </p>
    <ol>
      <li>सर्वर पर घड़ी लगाई गई है तथा आपकी स्क्रीन के दाहिने कोने में शीर्ष पर काउंटडाउन टाइमर में आपके लिए परीक्षा समाप्त करने
        के लिए शेष समय प्रदर्शित होगा। परीक्षा समय समाप्त होने पर, आपको अपनी परीक्षा बंद या जमा करने की जरूरत नहीं है । यह
        स्वतः बंद या जमा हो जाएगी।</li>
      <li>स्क्रीन के दाहिने कोने पर प्रश्न पैलेट, नंबर दिए प्रत्येक प्रश्न के लिए निम्न में से कोई एक स्थिति प्रकट करती है:
        <table>
          <tbody>
            <tr>
              <td valign="top">
                <span id="tooltip_not_visited" style="PADDING-TOP: 5px">1</span>
              </td>
              <td>आप अभी तक प्रश्न पर नहीं गए हैं।</td>
            </tr>
          </tbody>
        </table>
        <table>
          <tbody>
            <tr>
              <td valign="top">
                <span id="tooltip_not_answered" style="PADDING-TOP: 5px">3</span>
              </td>
              <td>आपने प्रश्न का उत्तर नहीं दिया है।</td>
            </tr>
          </tbody>
        </table>
        <table>
          <tbody>
            <tr>
              <td valign="top">
                <span id="tooltip_answered" style="PADDING-TOP: 5px">5</span>
              </td>
              <td>आप प्रश्न का उत्तर दे चुके हैं।</td>
            </tr>
          </tbody>
        </table>
        <table>
          <tbody>
            <tr>
              <td valign="top">
                <span id="tooltip_review" style="PADDING-TOP: 5px">7</span>
              </td>
              <td>आपने प्रश्न का उत्तर नहीं दिया है पर प्रश्न को पुनर्विचार के लिए चिन्हित किया है।</td>
            </tr>
          </tbody>
        </table>
        <table>
          <tbody>
            <tr>
              <td valign="top">
                <span id="tooltip_reviewanswered" style="PADDING-TOP: 12px">&nbsp;&nbsp;&nbsp; 9</span>
              </td>
              <td>आप प्रश्न का उत्तर दे चुकें हैं पर प्रश्न को पुनर्विचार के लिए चिन्हित किया है।</td>
            </tr>
          </tbody>
        </table>
      </li>
      <li style="LIST-STYLE-TYPE: none">पुनर्विचार के लिए चिन्हित स्थिति सामान्यत अनुस्मारक के रूप में कार्य करती है जोकि आपने प्रश्न को दुबारा देखने के लिए
        सेट किया है।
        <font color="red">
          <i>दि किसी प्रश्न के लिए उत्तर चुना हो जोकि पुनर्विचार के लिए चिन्हित किया है, तब अंतिम मूल्यांकन में उस उत्तर पर
            ध्यान दिया जाएगा।</i>
        </font>
      </li>
    </ol>
    <p>
      <strong>
        <u>किसी प्रश्न पर जाना :</u>
      </strong>
    </p>
    <ol start="4">
      <li>उत्तर देने हेतु कोई प्रश्न चुनने के लिए, आप निम्न में से कोई एक कार्य कर सकते हैं:
        <ol type="a">
          <li>स्क्रीन के दांयी ओर प्रश्न पट्टिका में प्रश्न पर सीधे जाने के लिए प्रश्न संख्या पर क्लिक करें। ध्यान दें कि इस
            विकल्प का प्रयोग करने से मौजूदा प्रश्न के लिए आपका उत्तर सुरक्षित नहीं होता है।</li>
          <li>वर्तमान प्रश्न का उत्तर सुरक्षित करने के लिए और क्रम में अगले प्रश्न पर जाने के लिए
            <strong> Save and Next</strong> पर क्लिक करें।</li>
          <li>वर्तमान प्रश्न का उत्तर सुरक्षित करने के लिए, पुनर्विचार के लिए चिन्हित करने और क्रम में अगले प्रश्न पर जाने के
            लिए
            <b> Mark for Review and Next</b> पर क्लिक करें।</li>
        </ol>
      </li>
      <li>आप
        <b> Question Paper</b> बटन पर क्लिक करके संपूर्ण प्रश्नपत्र को देख सकते हैं।</li>
    </ol>
    <p>
      <strong>
        <u>प्रश्नों का उत्तर देना :</u>
      </strong>
    </p>
    <ol start="6">
      <li>बहुविकल्प प्रकार प्रश्न के लिए
        <ol type="a">
          <li>अपना उत्तर चुनने के लिए, विकल्प बटनों में से किसी एक पर क्लिक करें।</li>
          <li>अपना उत्तर बदलने के लिए, अन्य वांछित विकल्प बटन पर क्लिक करें।</li>
          <li>अपना उत्तर सुरक्षित करने के लिए, आपको
            <b> Save &amp; Next</b> पर क्लिक करना जरूरी है।</li>
          <li>अपना उत्तर सुरक्षित करने के लिए, आपको
            <b> Save &amp; Next</b> पर क्लिक करना जरूरी है।</li>
          <li>किसी प्रश्न को पुनर्विचार के लिए चिन्हित करने हेतु
            <b> Mark for Review &amp; Next</b> पर क्लिक करें।
            <font color="red">
              <i>यदि किसी प्रश्न के लिए उत्तर चुना हो जोकि पुनर्विचार के लिए चिन्हित किया है, तब अंतिम मूल्यांकन में उस उत्तर
                पर ध्यान दिया जाएगा।</i>
            </font>
          </li>
        </ol>
      </li>
      <li>किसी प्रश्न का उत्तर बदलने के लिए, पहले प्रश्न का चयन करें, फिर नए उत्तर विकल्प पर क्लिक करने के बाद
        <b> Save &amp; Next</b> बटन पर क्लिक करें।</li>
      <li>उत्तर देने के बाद जो प्रश्न सुरक्षित हैं या पुनर्विचार के लिए चिन्हित है, सिर्फ उन पर ही मूल्यांकन के लिए ध्यान दिया
        जाएगा।
      </li>
    </ol>
    <p>
      <strong>
        <u>खंडों द्वारा प्रश्न पर जाना:</u>
      </strong>
    </p>
    <ol start="9">
      <li>इस प्रश्नपत्र में स्क्रीन के शीर्ष बार पर खंड प्रदर्शित होते हैं। किसी खंड में प्रश्न, खंड नाम पर क्लिक करके देखे जा
        सकते हैं। आप वर्तमान में जिस खंड का उत्तर दे रहे हैं, वह प्रकाशमान होगा।</li>
      <li>किसी खंड के लिए अंतिम प्रश्न के
        <b> Save &amp; Next</b> बटन पर क्लिक करने के बाद, आप स्वचालित रूप से अगले खंड के प्रथम प्रश्न पर पहुंच जाओगे।</li>
      <li>आप उस खंड के लिए प्रश्नों की स्थिति को देखने हेतु खंड नाम के ऊपर माउस कर्सर मूव कर सकते हो।</li>
      <li>आप परीक्षा के दौरान किसी भी समय खंडों और प्रश्नों के बीच अपनी सुविधा के अनुसार फेरबदल कर सकते हो।</li>
    </ol>
  </div>
</ng-template>


<ng-template #WithOutSubjectExam>
  <div class="col-sm-2"></div>
  <div class="col-sm-8" style="height: 500px; overflow: scroll;text-align: left;">
    <!--****************************************************************************************-->
<br>
    <div class="InstructionDiv SSCElem" style="display: block;">
      <h3>Candidate Instructions</h3>
      <div class="bottomContent">
        <div class="instructions" style="height: 286px;">
          <p>
            <b>अभ्यास परीक्षा</b>
          </p>
          <p class="textLeft">
            <b>डिसक्लेमर</b>
          </p>
          <ol>
            <li>1) यह अभ्‍यास परीक्षण आपके अभ्‍यास हेतु और आपको कंप्‍यूटर आधारित परीक्षा से परिचित कराने के लिए केवल एक प्रदर्शन
              है । इस अभ्‍यास परीक्षण में 100 प्रश्‍न हैं, जिन्‍हें 60 मिनट में हल करना होगा।</li>
            <li>2) परीक्षा के लिये वास्तविक प्रश्नपत्र में 100 प्रश्न होगें जिन्हें 1 घंटे के समय में हल करना होगा।</li>
          </ol>
          <p class="textLeft">
            <b>प्रश्‍नपत्र के बारे में:</b>
          </p>
          <ol>
            <li>1) इस प्रश्‍नपत्र में बहु-विकल्पीय वस्तुनिष्ठ प्रश्‍न हैं जिसमें 4 विकल्प दिए गए हैं, जिसमें से केवल 1 विकल्प
              सही है ।</li>
            <li>2) कंप्‍यूटर आधारित परीक्षा द्विभाषी अर्थात अंग्रेजी एवं हिन्‍दी भाषा में होगी । प्रश्‍न और उत्‍तर के विकल्‍प
              दोनों भाषाओं में दिखाई देंगे।</li>
            <li>3) स्क्रीन के शीर्ष दाएं कोने में टाइमर (घड़ी) उपलब्ध है; आपसे अनुरोध है कि परीक्षा पूरी करने के लिए शेष समय
              की जानकारी हेतु इसे देखते रहें।</li>
            <li>4) प्रत्येक प्रश्न के लिए 1 अंक निर्धारित हैं।</li>
            <li>5) प्रत्येक सही जवाब के लिए 1 अंक मिलेंगे। प्रत्येक गलत उत्तर के लिए 0.25 अंकों की कटौती की जाएगी। अनुत्तरित
              प्रश्नों के लिए अंकों की कटौती नहीं की जाएगी।</li>
            <li>6) एक बार में कंप्यूटर स्क्रीन पर केवल एक प्रश्‍न प्रदर्शित किया जाएगा । अभ्यर्थियों को अगले प्रश्‍न पर जाने
              के लिए स्क्रीन के नीचे दिए गए बटन
              <img border="0" width="139" vspace="10" hspace="10" height="26" style="vertical-align:middle;" src="./assets/image/ins1.jpg"> पर क्लिक करना चाहिए अथवा पिछले प्रश्‍न पर जाने के लिए
              <img border="0" width="160" vspace="10" hspace="10" height="30" style="vertical-align:middle;" src="./assets/image/ins2.jpg"> पर क्लिक करना चाहिए ।</li>
            <li>7) प्रश्‍नों को दी गई समय सीमा के भीतर किसी भी क्रम में हल किया जा सकता है । अभ्‍यर्थी को 4 विकल्पों में से सही
              विकल्प पर माउस से क्लिक करना होगा । यदि अभ्यर्थी प्रश्‍न का उत्तर नही देना चाहता है तो वह उस प्रश्‍न को खाली
              छोड़ सकता है ।</li>
            <li>8) अभ्यर्थी यदि चाहता है तो वह नए विकल्प का चयन कर किसी प्रश्‍न के विकल्प को बदल सकता है । यदि अभ्यर्थी प्रश्‍न
              का उत्तर नही देना चाहता है तो वह प्रश्‍न के सामने दिए गए
              <img border="0" width="60" vspace="10" hspace="10" height="27" style="vertical-align:middle;" src="./assets/image/ins3_1.jpg"> को क्लिक कर उत्‍तर को अचयनित कर सकता है ।</li>
            <li>9) प्रश्‍नों में आगे और पीछे जाने के लिए, अभ्यर्थियों को
              <img border="0" width="139" vspace="10" hspace="10" height="26" style="vertical-align:middle;" src="./assets/image/ins1.jpg"> या
              <img border="0" width="160" vspace="10" hspace="10" height="30" style="vertical-align:middle;" src="./assets/image/ins2.jpg">बटन का इस्तेमाल करना चाहिए अथवा कंप्यूटर स्क्रीन के दाएं हाथ की ओर दी गई प्रश्‍न संख्या पर क्लिक करना चाहिए
              जहां पर प्रश्‍न संख्याओं को न किए गए की स्थिति के साथ प्रदर्शित किया जाएगा।</li>
            <li>10) जब भी अभ्यर्थी
              <img border="0" width="139" vspace="10" hspace="10" height="26" style="vertical-align:middle;" src="./assets/image/ins1.jpg"> या
              <img border="0" width="160" vspace="10" hspace="10" height="30" style="vertical-align:middle;" src="./assets/image/ins2.jpg"> बटन पर क्लिक करके अगले प्रश्‍न पर जाता है तो उत्तरों को सहेज लिया जाएगा ।</li>
            <li>11) अभ्यर्थियों के पास स्क्रीन के निचले हिस्से में उपलब्ध.
              <img border="0" width="47" vspace="10" hspace="10" height="22" style="vertical-align:middle;" src="./assets/image/ins4_1.jpg"> बटन पर क्लिक करके किसी प्रश्‍न को बुकमार्क करने का विकल्प है, अगर वे बाद में उसकी समीक्षा करने की इच्छा रखते
              हैं । एक विशेष प्रश्‍न पर मौजूद बुकमार्क को
              <img border="0" width="71" vspace="10" hspace="10" height="24" style="vertical-align:middle;" src="./assets/image/ins6_1.jpg">पर क्लिक करके हटाया जा सकता है ।</li>
            <li>12) स्क्रीन के दायीं ओर प्रश्‍न पैलेट में प्रत्येक संख्यांकित प्रश्‍न की निम्नलिखित स्थिति दिखाई देती है ।
              <br>
              <br>
              <img border="0" width="31" vspace="10" hspace="10" height="29" style="vertical-align:middle;" src="./assets/image/ins_c1.jpg"> आपने प्रश्‍न का उत्तर दिया है।
              <br>
              <img border="0" width="31" vspace="10" hspace="10" height="29" style="vertical-align:middle;" src="./assets/image/ins_c2.jpg">आपने प्रश्‍न का उत्तर नहीं दिया है और समीक्षा के लिए चिन्हित किया है।
              <br>
              <img border="0" width="32" vspace="10" hspace="10" height="29" style="vertical-align:middle;" src="./assets/image/ins_c3.jpg"> आपने प्रश्‍न का उत्तर दिया है लेकिन समीक्षा के लिए चिन्हित किया है।
              <br>
              <img border="0" width="31" vspace="10" hspace="10" height="29" style="vertical-align:middle;" src="./assets/image/ins_c4.jpg"> आपने प्रश्‍न का उत्तर नहीं दिया है।</li>
            <li>कृपया ध्यान दें: जिन प्रश्‍नों का उत्तर दिया गया है और समीक्षा के लिए चिन्हित किया गया है उन प्रश्‍नों को केवल
              तभी तक उत्तर दिया गया प्रश्‍न माना जाएगा जब तक अभ्यर्थी चयनित विकल्प को
              <img border="0" width="60" vspace="10" hspace="10" height="27" style="vertical-align:middle;" src="./assets/image/ins3_1.jpg"> नहीं करता है।</li>
            <li>13) परीक्षा की अवधि पूर्ण होने पर, यदि अभ्‍यर्थी उत्‍तर पर क्लिक नहीं करता है अथवा
              <img border="0" width="144" vspace="10" hspace="10" height="26" style="vertical-align:middle;" src="./assets/image/ins5_1.jpg"> बटन पर क्लिक नहीं करता है तो कंप्‍यूटर द्वारा स्‍वत: शून्‍य परिणाम सहेज लिया जाएगा ।</li>
            <li>14) अभ्‍यर्थी निर्धारित 1 घंटे (60 मिनट ) के पूर्ण होने पर ही परीक्षा को submit करने में समर्थ होंगें। यदि अभ्‍यर्थी
              ने 1 घंटे (60 मिनट) के पूर्ण होने पर अपनी परीक्षा पूर्ण नहीं की तो सिस्‍टम स्‍वत: परीक्षा को submit कर देगा।</li>
          </ol>
          <p>
            <b>शुभकामनाएँ</b>
            <br>
            <br>
          </p>
          <p>
            <b>PRACTICE TEST</b>
          </p>
          <p class="textLeft">
            <b>Disclaimer</b>
          </p>
          <ol>
            <li>1) This Practice Test is a demo for a "Computer Based Examination" for your practice and familiarization purpose
              only. This "Practice test" consist of 100 questions to be attempted in 60 Minutes.</li>
            <li>2) The actual question paper for the examination consist of 100 questions to be attempted in 1 hour time.</li>
          </ol>
          <p class="textLeft">
            <b>About Question Paper:</b>
          </p>
          <ol>
            <li>1) The Question Paper consists of multiple choice objective type questions with 4 options out of which only 1
              is correct.
            </li>
            <li>2) The computer based exam will be in bilingual i.e. English &amp; Hindi Languages. Questions and Answer options
              will appear in both the languages.</li>
            <li>3) There is a TIMER (Clock) available on the TOP RIGHT HAND CORNER of the Screen; you are requested to keep an
              eye on it for knowing the time remaining for the completion of the exam.</li>
            <li>4) Each question carry 1 marks</li>
            <li>5) Every correct answer will get 1 marks. 0.25 mark will be deducted for each wrong answer. No marks will be
              deducted for unanswered questions.</li>
            <li>6) Only one question will be displayed on the computer screen at a time. To attempt next question the candidates
              should click on
              <img border="0" width="139" vspace="10" hspace="10" height="26" style="vertical-align:middle;" src="./assets/image/ins1.jpg"> or to go back click on
              <img border="0" width="160" vspace="10" hspace="10" height="30" style="vertical-align:middle;" src="./assets/image/ins2.jpg">button provided at the bottom of the screen</li>
            <li>7) The questions can be answered in any order within the given time frame. The candidate should click with the
              mouse on the correct choice, from 4 options given. In case, the candidate does not wish to attempt any question,
              it can be left blank.</li>
            <li>8) The candidate can change the option of a question later by selecting a new option in case he/she wishes to.
              In case candidate does not want to answer the question, he/she can deselect the answer by clicking
              <img border="0" width="60" vspace="10" hspace="10" height="27" style="vertical-align:middle;" src="./assets/image/ins3_1.jpg">provided against the question.</li>
            <li>9) To move back and forth between questions, candidates should use the
              <img border="0" width="139" vspace="10" hspace="10" height="26" style="vertical-align:middle;" src="./assets/image/ins1.jpg"> OR
              <img border="0" width="160" vspace="10" hspace="10" height="30" style="vertical-align:middle;" src="./assets/image/ins2.jpg"> button or click on the question number on the right hand side of the computer screen where question numbers
              would be displayed along with the attempted and not attempted status</li>
            <li>10) The answers will be saved whenever the candidate goes for next question, by clicking on
              <img border="0" width="139" vspace="10" hspace="10" height="26" style="vertical-align:middle;" src="./assets/image/ins1.jpg"> OR
              <img border="0" width="160" vspace="10" hspace="10" height="30" style="vertical-align:middle;" src="./assets/image/ins2.jpg">button.</li>
            <li>11) Candidates have the option to bookmark a question in case they want to review it at a later stage by clicking
              on the
              <img border="0" width="47" vspace="10" hspace="10" height="22" style="vertical-align:middle;" src="./assets/image/ins4_1.jpg">button available at the bottom of the screen. The Bookmark on a particular question can be removed by clicking
              on
              <img border="0" width="71" vspace="10" hspace="10" height="24" style="vertical-align:middle;" src="./assets/image/ins6_1.jpg">
            </li>
            <li>12) The question palette at the right of the screen shows the following status of each of the questions numbered
              <br>
              <br>
              <img border="0" width="31" vspace="10" hspace="10" height="29" style="vertical-align:middle;" src="./assets/image/ins_c1.jpg"> You have answered the question
              <br>
              <img border="0" width="31" vspace="10" hspace="10" height="29" style="vertical-align:middle;" src="./assets/image/ins_c2.jpg">You have not answered the question and marked for review
              <br>
              <img border="0" width="32" vspace="10" hspace="10" height="29" style="vertical-align:middle;" src="./assets/image/ins_c3.jpg"> You have answered the question but marked for review
              <br>
              <img border="0" width="31" vspace="10" hspace="10" height="29" style="vertical-align:middle;" src="./assets/image/ins_c4.jpg"> You have not answered the question</li>
            <li>13) On the completion of the test duration, even if the candidate does not click on an answer or does not click
              on the
              <img border="0" width="144" vspace="10" hspace="10" height="26" style="vertical-align:middle;" src="./assets/image/ins5_1.jpg"> button, a NIL result will be saved automatically by the computer.</li>
            <li>14) The candidate will only be able to submit the test on completion of the stipulated 1 hours (60 Minutes).
              In case a candidate not completed his/her test at the completion of stipulated 1 hours (60 Minutes), the system
              shall automatically submit the test</li>
          </ol>
          <p>
            <b>"ALL THE BEST"</b>
          </p>
        </div>
      </div>
    </div>

  </div>
  <div class="col-sm-2"></div>
</ng-template>