/* You can add global styles to this file, and also import other style files */

  @import "~@angular/material/prebuilt-themes/indigo-pink.css";
  .sameline {
    display: inline-block;
    margin: 0 4px 0 0;
  }
  .secondline-margin{
    margin: 0 4px 0 0;
  }